@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    background-color: rgb(56, 56, 65);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 47);
    padding: 30px 0px;
    border-radius: 15px;
}

header h1 {
    background-color: rgb(41, 41, 47);
    color: rgb(255, 213, 0);
    font-size: 300%;
}

.square {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.square #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#result h2 {
    font-size: 230%;
}

#result p {
    font-size: 120%;
}

.square .weapons{
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    align-items: center;
    overflow: hidden;
}

.weapons button {
    border-radius: 10px;
    color: white;
    padding: 10px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    column-gap: 10px;
}

footer i {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}